body {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    min-width: 300px;
    background-color: #0a0a0ae6;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #4b4130;
}


#popup a {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #e9cf9f;
    transition: opacity .2s ease;
}

#popup a:hover {
    opacity: .8;
}
#popup h3{
    color: #fff;
    font-size: 16px;
}
#popup .favorite-item a{
    padding-left: 4px;
    font-size: 22px;
    margin-bottom: 8px !important; 
}

#popup .favorites-list span{
    color: #c2ffc4;
    margin:30px 0 8px;
    font-size: 14px;
    display: block;
}
#popup .github-link{
    margin-top: 40px;
    font-size: 12px;
    color: #aeaeae;
}